body{
    font-family: 'Roboto Condensed', sans-serif;
    /*min-height: 75rem;*/
    padding-top: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

a{
    color: red;
}

section {
    margin: 1rem;
    padding: 2rem;
    background-color: lightblue;
    border-radius: 1em;
}

.h1 {
    color : whitesmoke;
    border-style : dashed;
    padding-top : 0.75em;
    padding-bottom : 0.5em;
    padding-left: 0.20em;
    background-color : rgb(146, 167, 187);    
}

.footer{
    color: yellow;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 2em;
    grid-column-start: col-start 2;
  }

#img-circle{
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    align-content: center;
}

#profile{
    background-color: white;
}

#video {
    grid-column-start: 1;
    grid-row-start: 4;
    margin-top: -1em;
}

#links {
    grid-column-start: 1;
    grid-row-start: 1;
}